.md-grid {
    max-width: 100%;
}

@font-face {
    font-family: jetbrains mono;
    src: url(https://res.inssun.cn/font/JetBrainsMono-Regular/JetBrainsMono-Regular.woff2) format('woff2'), url(https://res.inssun.cn/font/JetBrainsMono-Regular/JetBrainsMono-Regular.woff) format('woff'), url(https://res.inssun.cn/font/JetBrainsMono-Regular/JetBrainsMono-Regular.ttf) format('truetype'), url(https://res.inssun.cn/font/JetBrainsMono-Regular/JetBrainsMono-Regular.svg#JetBrainsMono-Regular) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: misans;
    src: url(https://res.inssun.cn/font/MiSans-Regular/MiSans-Regular.woff2) format('woff2'), url(https://res.inssun.cn/font/MiSans-Regular/MiSans-Regular.woff) format('woff'), url(https://res.inssun.cn/font/MiSans-Regular/MiSans-Regular.ttf) format('truetype'), url(https://res.inssun.cn/font/MiSans-Regular/MiSans-Regular.svg#MiSans-Regular) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

:root {
    --md-text-font: "misans";
}

:root {
    --md-code-font: "jetbrains mono", "MiSans";
}

.md-typeset h1,
.md-nav__title {
    color: #000000;
}

.md-typeset h1 {
    font-weight: 400;
}

[data-md-color-primary=black] {
    --md-typeset-a-color: #4287ff;
}

.md-header__topic:first-child {
    font-weight: normal;
}

.md-nav__title {
    font-weight: normal;
}

:root,
[data-md-color-scheme=default] {
    --md-default-fg-color: #000000;
}