/* 设置版心区域 */
/* .md-grid {
    max-width: 100%;
} */

/* 常规字体 */
@font-face {
    font-family: 'MiSans';
    src: url('https://res.inssun.cn/font/MiSans-Regular/MiSans-Regular.woff2') format('woff2'),
    url('https://res.inssun.cn/font/MiSans-Regular/MiSans-Regular.woff') format('woff'),
    url('https://res.inssun.cn/font/MiSans-Regular/MiSans-Regular.ttf') format('truetype'),
    url('https://res.inssun.cn/font/MiSans-Regular/MiSans-Regular.svg#MiSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --md-text-font: "MiSans";
}

/* 等宽字体 */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://res.inssun.cn/font/JetBrainsMono-Regular/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://res.inssun.cn/font/JetBrainsMono-Regular/JetBrainsMono-Regular.woff') format('woff'),
    url('https://res.inssun.cn/font/JetBrainsMono-Regular/JetBrainsMono-Regular.ttf') format('truetype'),
    url('https://res.inssun.cn/font/JetBrainsMono-Regular/JetBrainsMono-Regular.svg#JetBrainsMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --md-code-font: "JetBrains Mono", Misans;
}

/* 去除导航阴影 */
.md-header--shadow {
    box-shadow: none;
}

/* 去除导航字体加粗 */

.md-header__topic:first-child {
    font-weight: normal;
}

/* 设置导航字体颜色 */
:root, [data-md-color-scheme=default] {
    --md-default-fg-color--light: #0000008;
}